.header-container {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #673ab7;
}

h2 {
  color: white;
  font-weight: bold;
}

img {
  height: 7vh;
  width: 11vh;
  margin-left: 50px;
}

.back {
  color: white;
  position: absolute;
  left: 20px;
}
