// .container {
//   max-height: 200px;
//   background-color: red;
// }

.container {
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #673ab7;
}
