<div class="quiz-container">
  <h2>Question</h2>
  <p>{{ this.allQuestions[0].question }}</p>
  <div *ngIf="fullPermission || partialPermission">
    <label class="title">Option 1</label>
    <p>
      {{ this.allQuestions[0].correctAnswer }}
    </p>
    <label class="title">Option 2</label>
    <p>
      {{ this.allQuestions[0].incorrectAnswer1 }}
    </p>
    <label class="title">Option 3</label>
    <p>
      {{ this.allQuestions[0].incorrectAnswer2 }}
    </p>
    <label class="title">Option 4</label>
    <p>
      {{ this.allQuestions[0].incorrectAnswer3 }}
    </p>
    <button
      *ngIf="fullPermission"
      mat-raised-button
      (click)="edit()"
      color="primary"
    >
      Edit
    </button>
  </div>
</div>
