<div class="container">
  <div>
    <p>{{ this.quiz.question }}</p>
  </div>
  <div>
    {{ this.quiz.correctAnswer }}
    <button mat-raised-button (click)="openDialog()">Edit</button>
  </div>
  <div>
    {{ this.quiz.inCorrectAnswer1 }}
    <button mat-raised-button (click)="edit()">Edit</button>
  </div>
  <div>
    {{ this.quiz.inCorrectAnswer2 }}
    <button mat-raised-button>Edit</button>
  </div>
  <div>
    {{ this.quiz.inCorrectAnswer3 }}
    <button mat-raised-button>Edit</button>
  </div>
</div>
