<table mat-table [dataSource]="allQuestions">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let quiz">1</td>
  </ng-container>
  <ng-container matColumnDef="question">
    <th mat-header-cell *matHeaderCellDef>Question</th>
    <td mat-cell *matCellDef="let quiz">{{ quiz.question }}</td>
  </ng-container>
  <ng-container matColumnDef="correct">
    <th mat-header-cell *matHeaderCellDef>Correct</th>
    <td mat-cell *matCellDef="let quiz">{{ quiz.correctAnswer }}</td>
  </ng-container>
  <ng-container matColumnDef="incorrect1">
    <th mat-header-cell *matHeaderCellDef>Option 1</th>
    <td mat-cell *matCellDef="let quiz">{{ quiz.incorrectAnswer1 }}</td>
  </ng-container>
  <ng-container matColumnDef="incorrect2">
    <th mat-header-cell *matHeaderCellDef>Option 2</th>
    <td mat-cell *matCellDef="let quiz">{{ quiz.incorrectAnswer2 }}</td>
  </ng-container>
  <ng-container matColumnDef="incorrect3">
    <th mat-header-cell *matHeaderCellDef>Option 3</th>
    <td mat-cell *matCellDef="let quiz">{{ quiz.incorrectAnswer3 }}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let quiz">
      <a class="edit" (click)="edit(quiz.questionId)">Edit</a>
      <a (click)="delete(quiz.questionId)">Delete</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>

<!-- <div class="quiz-container">
  <h2>Question</h2>
  <p>{{ this.allQuestions[0].question }}</p>
  <div *ngIf="editPermission || restrictedPermission">
    <label class="title">Option 1</label>
    <p>
      {{ this.allQuestions[0].correctAnswer }}
    </p>
    <label class="title">Option 2</label>
    <p>
      {{ this.allQuestions[0].incorrectAnswer1 }}
    </p>
    <label class="title">Option 3</label>
    <p>
      {{ this.allQuestions[0].incorrectAnswer2 }}
    </p>
    <label class="title">Option 4</label>
    <p>
      {{ this.allQuestions[0].incorrectAnswer3 }}
    </p>
    <button
      *ngIf="editPermission"
      mat-raised-button
      (click)="edit()"
      color="primary"
    >
      Edit
    </button>
  </div>
</div> -->
