<div class="container">
  <mat-card>
    <mat-card-title>{{ title }}</mat-card-title>
    <div>
      <form [formGroup]="loginForm">
        <p>
          <mat-form-field>
            <input
              formControlName="username"
              matInput
              type="text"
              placeholder="Username"
            />
            <mat-error *ngIf="username.touched && username.errors?.required">
              Username Required
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input
              formControlName="password"
              matInput
              type="password"
              placeholder="Password"
            />
            <mat-error *ngIf="password.touched && password.errors?.required">
              Password Required
            </mat-error>
          </mat-form-field>
          <mat-error *ngIf="badRequest">
            Username or password is incorrect
          </mat-error>
        </p>
        <div *ngIf="registerMode">
          <mat-form-field>
            <mat-select
              placeholder="Permission Level"
              formControlName="permissionLevel"
            >
              <mat-option *ngFor="let item of dropDown" [value]="item.value"
                >{{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error
            *ngIf="permissionLevel.touched && permissionLevel.errors?.required"
          >
            Permission Level is required
          </mat-error>
        </div>

        <div fxLayoutGap="50px">
          <button
            *ngIf="!registerMode"
            mat-raised-button
            (click)="submit()"
            color="primary"
            [disabled]="!loginForm.valid"
          >
            Login
          </button>
          <button
            *ngIf="registerMode"
            mat-raised-button
            (click)="registerUser()"
            color="primary"
          >
            Add New User
          </button>
          <a *ngIf="!registerMode" [routerLink]="['/register']">New User?</a>
        </div>
      </form>
    </div>
  </mat-card>
</div>
