<div class="container" fxLayout="row" fxLayoutGap="50px">
  <div>
    <div
      *ngIf="editPermission"
      fxLayout="row"
      fxLayoutGap="50px"
      [formGroup]="dataForm"
    >
      <mat-form-field>
        <input matInput placeholder="Quiz Name" formControlName="name" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="add()">Add</button>
    </div>

    <table mat-table [dataSource]="allQuizs">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let quiz; let i = index">{{ i + 1 }}</td>
      </ng-container>
      <ng-container matColumnDef="quizId">
        <th mat-header-cell *matHeaderCellDef>Quiz Id</th>
        <td mat-cell *matCellDef="let quiz">
          {{ quiz.quizId }}
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let quiz">
          <a
            [routerLink]="['/quiz-detail', quiz.quizId, { name: quiz.name }]"
            >{{ quiz.name }}</a
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let quiz">
          <button
            mat-raised-button
            color="primary"
            (click)="delete(quiz.quizId)"
          >
            Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
  </div>
  {{ username | json }}
</div>
